/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(180,230,255);
}

.header {
    background: rgb(100,200,250);
    color: white;
} 

.scrollbar::-webkit-scrollbar {
    background-color: transparent;
    width: 0.75em;
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(225,255,255);
}
.scrollbar::-webkit-scrollbar-track {
    background-color: rgb(180,230,255);
}
